@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gothic+A1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbit&display=swap");
@font-face {
  font-family: "OAGothic-ExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "KIMM_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

html, body {
  margin: 0px;
}

h1, h2, h3, h4, p, figure {
  margin: 0px;
}

ul, li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

a {
  color: inherit;
  text-decoration: none;
}

a, b, i, em, strong, span {
  display: inline-block;
}

* {
  font-family: "Pretendard-Regular";
}

html {
  font-size: 16px;
}

main > .intro {
  height: 600px 0;
  padding: 100px 0;
  position: relative;
  white-space: pre-line;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-direction: column;
}
main > .intro h1 {
  font-size: 4rem;
  margin-left: 15%;
}
main > .intro p {
  font-size: 1.5rem;
  margin-left: 15%;
  font-weight: bold;
}
main > .intro:before {
  content: "RECRUIT";
  position: absolute;
  right: 0;
  bottom: -15%;
  font-size: 14.5833vw;
  font-weight: 700;
  color: #f8f8f8;
  line-height: 14.5833vw;
  letter-spacing: -1vw;
  z-index: 0;
}
main > .content-1 {
  padding: 8% 0;
  margin: 0% 0;
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
main > .content-1 > .content-1-title {
  width: 30%;
  text-align: center;
}
main > .content-1 > .content-1-title > strong {
  position: relative;
  width: 40%;
  font-size: 2rem;
}
main > .content-1 > .content-1-title > strong::after {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 0%;
  width: 30px;
  height: 4px;
  background-color: black;
}
main > .content-1 > .content-1-inner {
  width: 70%;
}
main > .content-1 > .content-1-inner > p {
  width: 75%;
  font-size: 1.6rem;
  margin-bottom: 5%;
}
main > .content-1 > .content-1-inner > .content-1-inner-grid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
  flex-wrap: wrap;
}
main > .content-1 > .content-1-inner > .content-1-inner-grid > li {
  position: relative;
  width: 30%;
  height: 20%;
  margin: 5%;
}
main > .content-1 > .content-1-inner > .content-1-inner-grid > li > span {
  font-weight: 700;
  font-size: 1.4rem;
  position: absolute;
  top: -50%;
}
main > .content-1 > .content-1-inner > .content-1-inner-grid > li > span > strong {
  font-size: 5rem;
}
main > .content-1 > .content-1-inner > .content-1-inner-grid > li > p {
  padding: 10%;
  background-color: rgb(255, 255, 255);
  box-shadow: 15px 15px 15px 10px rgb(230, 230, 230);
  width: 100%;
  height: 100%;
}
main > .content-2 {
  padding: 10% 0;
  margin: 0% 0;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
main > .content-2 > .content-2-title {
  width: 30%;
  text-align: center;
}
main > .content-2 > .content-2-title > strong {
  position: relative;
  width: 40%;
  font-size: 2rem;
}
main > .content-2 > .content-2-title > strong::after {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 0%;
  width: 30px;
  height: 4px;
  background-color: black;
}
main > .content-2 > .content-2-inner {
  width: 70%;
}
main > .content-2 > .content-2-inner > p:nth-of-type(1) {
  width: 80%;
  font-size: 1.6rem;
  margin-bottom: 5%;
}
main > .content-2 > .content-2-inner > p:nth-of-type(2) {
  font-size: 0.8rem;
}
main > .content-2 > .content-2-inner > .content-2-inner-grid {
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main > .content-2 > .content-2-inner > .content-2-inner-grid > li {
  width: 100%;
}
main > .content-2 > .content-2-inner > .content-2-inner-grid > li div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: auto;
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
main > .content-2 > .content-2-inner > .content-2-inner-grid > li div span {
  color: white;
  text-align: center;
  width: 100%;
  color: grey;
  font-weight: bold;
}
main > .content-2 > .content-2-inner > .content-2-inner-grid > li div p {
  color: white;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
}
main > .content-3 {
  padding: 10% 0;
  margin: 0% 0;
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
main > .content-3 > .content-3-title {
  width: 30%;
  text-align: center;
}
main > .content-3 > .content-3-title > strong {
  position: relative;
  width: 40%;
  font-size: 2rem;
}
main > .content-3 > .content-3-title > strong::after {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 0%;
  width: 30px;
  height: 4px;
  background-color: black;
}
main > .content-3 > .content-3-inner {
  width: 70%;
}
main > .content-3 > .content-3-inner > .content-3-inner-grid {
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
main > .content-3 > .content-3-inner > .content-3-inner-grid > li {
  width: 300px;
  height: 500px;
}
main > .content-3 > .content-3-inner > .content-3-inner-grid > li:nth-of-type(1) {
  background-image: url(../img/pic_philosophy01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main > .content-3 > .content-3-inner > .content-3-inner-grid > li:nth-of-type(2) {
  background-image: url(../img/pic_philosophy02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main > .content-3 > .content-3-inner > .content-3-inner-grid > li:nth-of-type(3) {
  background-image: url(../img/pic_philosophy03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main > .content-3 > .content-3-inner > .content-3-inner-grid > li div {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  width: 100%;
  height: 100%;
  padding: 15%;
  flex-direction: column;
  margin: auto;
  color: white;
  white-space: pre-line;
}
main > .content-3 > .content-3-inner > .content-3-inner-grid > li div span {
  width: 100%;
  font-weight: bold;
  font-size: 1.6rem;
}
header {
  padding: 50px 0;
  transition: 0.8s;
}
header > .bar {
  margin: 0px auto;
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
}
header > .bar > h1 a img {
  width: 100%;
}
header > .bar > .menus {
  display: flex;
  width: 55%;
}
header > .bar > .menus li {
  margin: 0px 4%;
  font-size: 1.2rem;
  position: relative;
}
header > .bar > .menus li:after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0;
  background-color: black;
  width: 0px;
  height: 4px;
  transition: 1s;
}
header > .bar > .menus li:hover:after {
  width: 100%;
  height: 4px;
}
header > .bar .burger {
  width: 3%;
  display: flex;
  align-items: end;
  flex-direction: column;
  position: relative;
}
header > .bar .burger span {
  margin: 3px 0;
  border: 3px solid;
  width: 30px;
  height: 3px;
  transition: 0.5s;
}
header > .bar .burger span:nth-of-type(3) {
  width: 15px;
}
header > .bar .burger a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
header.open {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  z-index: 100;
}
header.open > .bar > .menus {
  display: inline-block;
  width: 35%;
}
header.open > .bar > .menus > li {
  margin: 0px 4%;
  font-size: 4rem;
}
header.open > .bar > .menus > li:after {
  content: "";
  position: absolute;
  bottom: 0%;
  background-color: black;
  width: 0px;
  height: 4px;
  transition: 1s;
}
header.open > .bar > .menus > li:hover:after {
  width: 10%;
  height: 4px;
}
header.open > .bar > .burger > span:nth-of-type(1) {
  transform: rotate(30deg) translate(0px, 14px);
}
header.open > .bar > .burger > span:nth-of-type(2) {
  opacity: 0%;
}
header.open > .bar > .burger > span:nth-of-type(3) {
  width: 30px;
  transform: rotate(-30deg) translate(0px, -14px);
}

.ds-not {
  display: none;
}

.snsicons {
  z-index: 101;
  position: fixed;
  bottom: 10%;
  left: 3%;
  display: inline-block;
  vertical-align: middle;
  float: left;
  width: 30px;
  height: 30px;
  margin: 5px 0;
  transition: 0.8s;
}
.snsicons.active {
  opacity: 0;
}
.snsicons li:nth-of-type(1) {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin: 0;
  background-image: url(../img/icon_sns.svg);
  background-repeat: no-repeat;
  background-size: 200% auto;
  background-position: left top;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}
.snsicons li:nth-of-type(1):hover {
  background-position: right top;
  background-color: black;
  border-radius: 30px;
}
.snsicons li:nth-of-type(2) {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin: 0;
  background-image: url(../img/icon_sns.svg);
  background-repeat: no-repeat;
  background-size: 200% auto;
  background-position: left 50%;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}
.snsicons li:nth-of-type(2):hover {
  background-position: right 50%;
  background-color: black;
  border-radius: 30px;
}
.snsicons li:nth-of-type(3) {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin: 0;
  background-image: url(../img/icon_sns.svg);
  background-repeat: no-repeat;
  background-size: 200% auto;
  background-position: left bottom;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}
.snsicons li:nth-of-type(3):hover {
  background-position: right bottom;
  background-color: black;
  border-radius: 30px;
}

.direction {
  position: fixed;
  right: 7%;
  bottom: 10%;
  width: 50px;
  height: 50px;
  z-index: 100;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.direction > span {
  color: white;
}
.direction.active > span {
  transform: rotate(180deg);
}

footer {
  width: 100%;
  height: 300px;
  background-color: rgb(196, 196, 196);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
}
footer.ds-none {
  display: none;
}
footer > div {
  color: rgb(0, 0, 0);
  margin: 0px auto;
}
footer > div p {
  margin: 7% 0;
}
footer > div ul li {
  margin: 2% 0;
}
footer .line-1 {
  font-size: 1.6rem;
}
footer .line-1 p:hover > a {
  text-decoration: underline;
}
footer .line-2 p:nth-of-type(2) {
  font-weight: bold;
}
footer .line-3 ul {
  width: 100%;
  font-size: 1rem;
}
footer .line-3 ul li {
  display: flex;
}
footer .line-3 ul li > strong {
  margin-right: 5%;
  width: 20%;
}
footer .line-3 ul li:nth-of-type(1) > span > a:hover {
  text-decoration: underline;
}
footer .line-3 ul li:nth-of-type(2) > span > a:hover {
  text-decoration: underline;
}
footer .line-3 ul li:nth-of-type(3) > span {
  margin-left: 3%;
}
.popup {
  z-index: 100;
  position: fixed;
  top: 45%;
  left: 45%;
  width: 300px;
  height: 200px;
  text-align: center;
}
.popup > input {
  margin-top: 3%;
}
.popup > figure {
  width: 300px;
  height: 300px;
  background-image: url(../img/img_content1.png);
  background-size: cover;
}

@media (max-width: 767px) {
  header.open {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    z-index: 100;
  }
  header.open > .bar > .menus {
    position: fixed;
    top: 20%;
    left: 23%;
    display: inline-block;
    width: 35%;
  }
  header.open > .bar > .menus > li {
    margin: 20% 4%;
    font-size: 4rem;
  }
  header.open > .bar > .menus > li:after {
    content: "";
    background-color: black;
    width: 0px;
    height: 4px;
    transition: 1s;
  }
  header.open > .bar > .menus > li:hover:after {
    width: 10%;
    height: 4px;
  }
  header.open > .bar > .burger > span:nth-of-type(1) {
    transform: rotate(30deg) translate(0px, 14px);
  }
  header.open > .bar > .burger > span:nth-of-type(2) {
    opacity: 0%;
  }
  header.open > .bar > .burger > span:nth-of-type(3) {
    width: 30px;
    transform: rotate(-30deg) translate(0px, -14px);
  }
  header > .bar {
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
  }
  header > .bar > h1 a img {
    width: 100%;
  }
  header > .bar > .menus {
    display: none;
  }
  header > .bar > .menus li {
    margin: 0px 4%;
    font-size: 1.2rem;
    position: relative;
  }
  header > .bar > .menus li:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
    width: 0px;
    height: 4px;
    transition: 1s;
  }
  header > .bar > .menus li:hover:after {
    width: 100%;
    height: 4px;
  }
  header > .bar .burger {
    width: 2.5%;
    display: flex;
    align-items: end;
    flex-direction: column;
    position: relative;
  }
  header > .bar .burger span {
    margin: 3px 0;
    border: 3px solid;
    width: 30px;
    height: 3px;
    transition: 0.5s;
  }
  header > .bar .burger span:nth-of-type(3) {
    width: 15px;
  }
  header > .bar .burger a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
  header > .bar .burger:hover span:nth-of-type(1) {
    transform: rotate(30deg) translate(0px, 14px);
  }
  header > .bar .burger:hover span:nth-of-type(2) {
    opacity: 0%;
  }
  header > .bar .burger:hover span:nth-of-type(3) {
    width: 30px;
    transform: rotate(-30deg) translate(0px, -14px);
  }
  footer {
    width: 100%;
    height: 600px;
    background-color: rgb(196, 196, 196);
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    margin-top: 100px;
    padding-left: 5%;
  }
  footer > div {
    color: rgb(0, 0, 0);
    margin: 0px;
  }
  footer > div ul li {
    margin: 2% 0;
  }
  footer .line-1 {
    font-size: 1.6rem;
  }
  footer .line-1 p:hover > a {
    text-decoration: underline;
  }
  footer .line-2 p:nth-of-type(2) {
    font-weight: bold;
  }
  footer .line-3 ul {
    width: 100%;
    font-size: 1rem;
  }
  footer .line-3 ul li {
    display: flex;
  }
  footer .line-3 ul li > strong {
    margin-right: 5%;
    width: 20%;
  }
  footer .line-3 ul li:nth-of-type(1) > span > a:hover {
    text-decoration: underline;
  }
  footer .line-3 ul li:nth-of-type(2) > span > a:hover {
    text-decoration: underline;
  }
  footer .line-3 ul li:nth-of-type(3) > span {
    margin-left: 3%;
  }
}
@media (max-width: 480px) {
  header.open {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    z-index: 100;
  }
  header.open > .bar > .menus {
    position: fixed;
    top: 20%;
    left: 23%;
    display: inline-block;
    width: 35%;
  }
  header.open > .bar > .menus > li {
    margin: 20% 4%;
    font-size: 4rem;
  }
  header.open > .bar > .menus > li:after {
    content: "";
    background-color: black;
    width: 0px;
    height: 4px;
    transition: 1s;
  }
  header.open > .bar > .menus > li:hover:after {
    width: 10%;
    height: 4px;
  }
  header.open > .bar > .burger > span:nth-of-type(1) {
    transform: rotate(30deg) translate(0px, 14px);
  }
  header.open > .bar > .burger > span:nth-of-type(2) {
    opacity: 0%;
  }
  header.open > .bar > .burger > span:nth-of-type(3) {
    width: 30px;
    transform: rotate(-30deg) translate(0px, -14px);
  }
  header > .bar {
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
  }
  header > .bar > h1 a img {
    width: 100%;
  }
  header > .bar > .menus {
    display: none;
  }
  header > .bar > .menus li {
    margin: 0px 4%;
    font-size: 1.2rem;
    position: relative;
  }
  header > .bar > .menus li:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
    width: 0px;
    height: 4px;
    transition: 1s;
  }
  header > .bar > .menus li:hover:after {
    width: 100%;
    height: 4px;
  }
  header > .bar .burger {
    width: 2.5%;
    display: flex;
    align-items: end;
    flex-direction: column;
    position: relative;
  }
  header > .bar .burger span {
    margin: 3px 0;
    border: 3px solid;
    width: 30px;
    height: 3px;
    transition: 0.5s;
  }
  header > .bar .burger span:nth-of-type(3) {
    width: 15px;
  }
  header > .bar .burger a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
  header > .bar .burger:hover span:nth-of-type(1) {
    transform: rotate(30deg) translate(0px, 14px);
  }
  header > .bar .burger:hover span:nth-of-type(2) {
    opacity: 0%;
  }
  header > .bar .burger:hover span:nth-of-type(3) {
    width: 30px;
    transform: rotate(-30deg) translate(0px, -14px);
  }
  footer {
    width: 100%;
    height: 600px;
    background-color: rgb(196, 196, 196);
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    margin-top: 100px;
    padding-left: 5%;
  }
  footer > div {
    color: rgb(0, 0, 0);
    margin: 0px;
  }
  footer > div ul li {
    margin: 2% 0;
  }
  footer .line-1 {
    font-size: 1.6rem;
  }
  footer .line-1 p:hover > a {
    text-decoration: underline;
  }
  footer .line-2 p:nth-of-type(2) {
    font-weight: bold;
  }
  footer .line-3 ul {
    width: 100%;
    font-size: 1rem;
  }
  footer .line-3 ul li {
    display: flex;
  }
  footer .line-3 ul li > strong {
    margin-right: 5%;
    width: 20%;
  }
  footer .line-3 ul li:nth-of-type(1) > span > a:hover {
    text-decoration: underline;
  }
  footer .line-3 ul li:nth-of-type(2) > span > a:hover {
    text-decoration: underline;
  }
  footer .line-3 ul li:nth-of-type(3) > span {
    margin-left: 3%;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
  main > .intro {
    height: 600px 0;
    padding: 100px 0;
    position: relative;
    white-space: pre-line;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
  }
  main > .intro h1 {
    font-size: 4rem;
    margin-left: 15%;
  }
  main > .intro p {
    font-size: 1.5rem;
    margin-left: 15%;
    font-weight: bold;
  }
  main > .intro:before {
    content: "RECRUIT";
    position: absolute;
    right: 0;
    bottom: -5%;
    font-size: 14.5833vw;
    font-weight: 700;
    color: #f8f8f8;
    line-height: 14.5833vw;
    letter-spacing: -1vw;
    z-index: 0;
  }
  main > .content-1 {
    padding: 8% 5%;
    margin: 0% 0;
    padding: 0% 0;
    width: 100%;
    height: 1100px;
    margin-bottom: 10%;
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
  }
  main > .content-1 > .content-1-title {
    width: 100%;
    text-align: center;
    margin-bottom: 20%;
  }
  main > .content-1 > .content-1-title > strong {
    position: relative;
    width: 40%;
    font-size: 2rem;
  }
  main > .content-1 > .content-1-title > strong::after {
    content: "";
    position: absolute;
    bottom: -17px;
    left: 0%;
    width: 30px;
    height: 4px;
    background-color: black;
  }
  main > .content-1 > .content-1-inner {
    width: 100%;
  }
  main > .content-1 > .content-1-inner > p {
    width: 100%;
    font-size: 1.6rem;
    margin-bottom: 30%;
  }
  main > .content-1 > .content-1-inner > .content-1-inner-grid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 600px;
    flex-wrap: unset;
  }
  main > .content-1 > .content-1-inner > .content-1-inner-grid > li {
    position: relative;
    width: 100%;
    height: 20%;
    margin: 10% 0;
  }
  main > .content-1 > .content-1-inner > .content-1-inner-grid > li > span {
    font-weight: 700;
    font-size: 1.4rem;
    position: absolute;
    top: -50%;
  }
  main > .content-1 > .content-1-inner > .content-1-inner-grid > li > span > strong {
    font-size: 5rem;
  }
  main > .content-1 > .content-1-inner > .content-1-inner-grid > li > p {
    padding: 10%;
    background-color: rgb(255, 255, 255);
    box-shadow: 15px 15px 15px 10px rgb(230, 230, 230);
    width: 100%;
    height: 100%;
  }
  main > .content-2 {
    padding: 10% 0;
    margin: 20% 0;
    width: 100%;
    height: 900px;
    background-color: #ffffff;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
  main > .content-2 > .content-2-title {
    width: 100%;
    text-align: center;
    margin-bottom: 20%;
  }
  main > .content-2 > .content-2-title > strong {
    position: relative;
    width: 40%;
    font-size: 2rem;
  }
  main > .content-2 > .content-2-title > strong::after {
    content: "";
    position: absolute;
    bottom: -17px;
    left: 0%;
    width: 30px;
    height: 4px;
    background-color: black;
  }
  main > .content-2 > .content-2-inner {
    width: 100%;
    padding: 0 5%;
  }
  main > .content-2 > .content-2-inner > p:nth-of-type(1) {
    width: 100%;
    font-size: 1.6rem;
    margin-bottom: 5%;
  }
  main > .content-2 > .content-2-inner > p:nth-of-type(2) {
    font-size: 0.8rem;
  }
  main > .content-2 > .content-2-inner > .content-2-inner-grid {
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  main > .content-2 > .content-2-inner > .content-2-inner-grid > li {
    width: 35%;
  }
  main > .content-2 > .content-2-inner > .content-2-inner-grid > li div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  main > .content-2 > .content-2-inner > .content-2-inner-grid > li div span {
    color: white;
    text-align: center;
    width: 100%;
    color: grey;
    font-weight: bold;
  }
  main > .content-2 > .content-2-inner > .content-2-inner-grid > li div p {
    color: white;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
  }
  main > .content-2 > .content-2-inner > .content-2-inner-grid > span:nth-of-type(0), main > .content-2 > .content-2-inner > .content-2-inner-grid > span:nth-of-type(2) {
    display: none;
  }
  main > .content-3 {
    padding: 10% 0;
    margin: 0% 0;
    width: 100%;
    height: 1100px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
  }
  main > .content-3 > .content-3-title {
    width: 100%;
    text-align: center;
    margin-bottom: 35%;
  }
  main > .content-3 > .content-3-title > strong {
    position: relative;
    width: 40%;
    font-size: 2rem;
  }
  main > .content-3 > .content-3-title > strong::after {
    content: "";
    position: absolute;
    bottom: -17px;
    left: 0%;
    width: 30px;
    height: 4px;
    background-color: black;
  }
  main > .content-3 > .content-3-inner {
    width: 100%;
  }
  main > .content-3 > .content-3-inner > .content-3-inner-grid {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  main > .content-3 > .content-3-inner > .content-3-inner-grid > li {
    width: 300px;
    height: 500px;
  }
  main > .content-3 > .content-3-inner > .content-3-inner-grid > li:nth-of-type(1) {
    background-image: url(../img/pic_philosophy01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  main > .content-3 > .content-3-inner > .content-3-inner-grid > li:nth-of-type(2) {
    background-image: url(../img/pic_philosophy02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  main > .content-3 > .content-3-inner > .content-3-inner-grid > li:nth-of-type(3) {
    background-image: url(../img/pic_philosophy03.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  main > .content-3 > .content-3-inner > .content-3-inner-grid > li div {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
    height: 100%;
    padding: 15%;
    flex-direction: column;
    margin: 5% auto;
    color: white;
    white-space: pre-line;
  }
  main > .content-3 > .content-3-inner > .content-3-inner-grid > li div span {
    width: 100%;
    font-weight: bold;
    font-size: 1.6rem;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
  main > .intro {
    height: 600px 0;
    padding: 100px 0;
    position: relative;
    white-space: pre-line;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
  }
  main > .intro h1 {
    font-size: 4rem;
    margin-left: 15%;
  }
  main > .intro p {
    font-size: 1.5rem;
    margin-left: 15%;
    font-weight: bold;
  }
  main > .intro:before {
    content: "RECRUIT";
    position: absolute;
    right: 0;
    bottom: -5%;
    font-size: 14.5833vw;
    font-weight: 700;
    color: #f8f8f8;
    line-height: 14.5833vw;
    letter-spacing: -1vw;
    z-index: 0;
  }
  main > .content-1 {
    padding: 8% 5%;
    margin: 0% 0;
    width: 100%;
    height: 1000px;
    margin-bottom: 10%;
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
  }
  main > .content-1 > .content-1-title {
    width: 100%;
    text-align: center;
    margin-bottom: 20%;
  }
  main > .content-1 > .content-1-title > strong {
    position: relative;
    width: 40%;
    font-size: 2rem;
  }
  main > .content-1 > .content-1-title > strong::after {
    content: "";
    position: absolute;
    bottom: -17px;
    left: 0%;
    width: 30px;
    height: 4px;
    background-color: black;
  }
  main > .content-1 > .content-1-inner {
    width: 100%;
  }
  main > .content-1 > .content-1-inner > p {
    width: 100%;
    font-size: 1.6rem;
    margin-bottom: 30%;
  }
  main > .content-1 > .content-1-inner > .content-1-inner-grid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 600px;
    flex-wrap: unset;
  }
  main > .content-1 > .content-1-inner > .content-1-inner-grid > li {
    position: relative;
    width: 100%;
    height: 20%;
    margin: 10% 0;
  }
  main > .content-1 > .content-1-inner > .content-1-inner-grid > li > span {
    font-weight: 700;
    font-size: 1.4rem;
    position: absolute;
    top: -50%;
  }
  main > .content-1 > .content-1-inner > .content-1-inner-grid > li > span > strong {
    font-size: 5rem;
  }
  main > .content-1 > .content-1-inner > .content-1-inner-grid > li > p {
    padding: 10%;
    background-color: rgb(255, 255, 255);
    box-shadow: 15px 15px 15px 10px rgb(230, 230, 230);
    width: 100%;
    height: 100%;
  }
  main > .content-2 {
    padding: 10% 0;
    margin: 0% 0;
    width: 100%;
    height: 900px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
  }
  main > .content-2 > .content-2-title {
    width: 100%;
    text-align: center;
    margin-bottom: 20%;
  }
  main > .content-2 > .content-2-title > strong {
    position: relative;
    width: 40%;
    font-size: 2rem;
  }
  main > .content-2 > .content-2-title > strong::after {
    content: "";
    position: absolute;
    bottom: -17px;
    left: 0%;
    width: 30px;
    height: 4px;
    background-color: black;
  }
  main > .content-2 > .content-2-inner {
    width: 100%;
    padding: 0 5%;
  }
  main > .content-2 > .content-2-inner > p:nth-of-type(1) {
    width: 100%;
    font-size: 1.6rem;
    margin-bottom: 5%;
  }
  main > .content-2 > .content-2-inner > p:nth-of-type(2) {
    font-size: 0.8rem;
  }
  main > .content-2 > .content-2-inner > .content-2-inner-grid {
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  main > .content-2 > .content-2-inner > .content-2-inner-grid > li {
    width: 35%;
  }
  main > .content-2 > .content-2-inner > .content-2-inner-grid > li div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  main > .content-2 > .content-2-inner > .content-2-inner-grid > li div span {
    color: white;
    text-align: center;
    width: 100%;
    color: grey;
    font-weight: bold;
  }
  main > .content-2 > .content-2-inner > .content-2-inner-grid > li div p {
    color: white;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
  }
  main > .content-2 > .content-2-inner > .content-2-inner-grid > span:nth-of-type(0), main > .content-2 > .content-2-inner > .content-2-inner-grid > span:nth-of-type(2) {
    display: none;
  }
  main > .content-3 {
    padding: 10% 0;
    margin: 0% 0;
    width: 100%;
    height: 700px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
  }
  main > .content-3 > .content-3-title {
    width: 100%;
    text-align: center;
    margin-bottom: 25%;
  }
  main > .content-3 > .content-3-title > strong {
    position: relative;
    width: 40%;
    font-size: 2rem;
  }
  main > .content-3 > .content-3-title > strong::after {
    content: "";
    position: absolute;
    bottom: -17px;
    left: 0%;
    width: 30px;
    height: 4px;
    background-color: black;
  }
  main > .content-3 > .content-3-inner {
    width: 100%;
  }
  main > .content-3 > .content-3-inner > .content-3-inner-grid {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  main > .content-3 > .content-3-inner > .content-3-inner-grid > li {
    width: 300px;
    height: 500px;
  }
  main > .content-3 > .content-3-inner > .content-3-inner-grid > li:nth-of-type(1) {
    background-image: url(../img/pic_philosophy01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  main > .content-3 > .content-3-inner > .content-3-inner-grid > li:nth-of-type(2) {
    background-image: url(../img/pic_philosophy02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  main > .content-3 > .content-3-inner > .content-3-inner-grid > li:nth-of-type(3) {
    background-image: url(../img/pic_philosophy03.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  main > .content-3 > .content-3-inner > .content-3-inner-grid > li div {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
    height: 100%;
    padding: 15%;
    flex-direction: column;
    margin: 5% auto;
    color: white;
    white-space: pre-line;
  }
  main > .content-3 > .content-3-inner > .content-3-inner-grid > li div span {
    width: 100%;
    font-weight: bold;
    font-size: 1.6rem;
  }
}