@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gothic+A1&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

html, body {
  margin: 0px;
}

h1, h2, h3, h4, p, figure {
  margin: 0px;
}

ul, li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

a {
  color: inherit;
  text-decoration: none;
}

a, b, i, em, strong, span {
  display: inline-block;
}

* {
  font-family: "Black Han Sans", sans-serif;
  font-family: "Gothic A1", sans-serif;
}

html {
  font-size: 16px;
}

main > .intro {
  height: 600px 0;
  padding: 5% 0 5% 15%;
  position: relative;
  white-space: pre-line;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-direction: column;
}
main > .intro h1 {
  font-size: 4rem;
}
main > .intro p {
  font-size: 1rem;
  z-index: 100;
  margin-top: 3%;
  line-height: 200%;
}
main > .intro:before {
  content: "BRAND";
  position: absolute;
  right: 0;
  bottom: -15%;
  font-size: 14.5833vw;
  font-weight: 700;
  color: #f8f8f8;
  line-height: 14.5833vw;
  letter-spacing: -1vw;
  z-index: 0;
}
main .content-4 {
  position: relative;
  width: 100%;
  height: 1000px;
}
main .content-4 > figure {
  position: absolute;
}
main .content-4 > figure img {
  width: 100%;
}
main .content-4 > .content-4-middle {
  width: 100%;
  height: 80%;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main .content-4 > .content-4-middle > .content-4-text {
  white-space: pre-line;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-direction: column;
}
main .content-4 > .content-4-middle > .content-4-text > p {
  margin: 20px 0px;
}
main .content-4 > .content-4-middle > .content-4-text > p:nth-of-type(1) {
  font-size: 1.2rem;
  color: white;
}
main .content-4 > .content-4-middle > .content-4-text > p:nth-of-type(2) {
  font-size: 1rem;
  color: white;
  line-height: 30px;
}
main .content-4 > .content-4-middle > .content-4-text > h2 {
  font-size: 3rem;
  color: white;
}
main .content-4 > .content-4-middle > .content-4-text > a {
  background-color: black;
  width: 150px;
  height: 50px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
}
main .content-4 > .content-4-middle > .content-4-text > a:hover p:after {
  width: 1px;
}
main .content-4 > .content-4-middle > .content-4-text > a > p {
  margin: 0px auto;
  font-size: 1rem;
}
main .content-4 > .content-4-middle > .content-4-text > a > p::after {
  content: "";
  border: 2px solid;
  color: white;
  display: inline-block;
  width: 30px;
  vertical-align: middle;
  margin-left: 10px;
  transition: 1s;
}
main .content-4 > .content-4-middle > .content-4-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  flex-direction: column;
  font-weight: bold;
}
main .content-4 > .content-4-middle > .content-4-buttons > a {
  text-align: right;
  width: 100%;
  margin: 10% 8%;
  color: rgba(169, 154, 154, 0.782);
  transition: 1s;
}
main .content-4 > .content-4-middle > .content-4-buttons > a:hover {
  color: white;
}
main .content-4 > .content-4-middle > .content-4-buttons > a:hover:after {
  border: 3px solid white;
}
main .content-4 > .content-4-middle > .content-4-buttons > a:after {
  content: "";
  border: 2px solid rgba(169, 154, 154, 0.782);
  align-items: center;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  margin-left: 5px;
  transition: 1s;
}
header > .bar {
  margin: 50px auto;
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
}
header > .bar > h1 a img {
  width: 100%;
}
header > .bar > .menus {
  display: flex;
  width: 55%;
}
header > .bar > .menus li {
  margin: 0px 4%;
  font-size: 1.2rem;
  position: relative;
}
header > .bar > .menus li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  width: 0px;
  height: 4px;
  transition: 1s;
}
header > .bar > .menus li:hover:after {
  width: 100%;
  height: 4px;
}
header > .bar .burger {
  width: 2.5%;
  display: flex;
  align-items: end;
  flex-direction: column;
  position: relative;
}
header > .bar .burger span {
  margin: 3px 0;
  border: 3px solid;
  width: 30px;
  height: 3px;
  transition: 0.5s;
}
header > .bar .burger span:nth-of-type(3) {
  width: 15px;
}
header > .bar .burger a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
header.open {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  z-index: 100;
}
header.open > .bar > .menus {
  display: inline-block;
  width: 35%;
}
header.open > .bar > .menus > li {
  margin: 0px 4%;
  font-size: 4rem;
}
header.open > .bar > .menus > li:after {
  content: "";
  background-color: black;
  width: 0px;
  height: 4px;
  transition: 1s;
}
header.open > .bar > .menus > li:hover:after {
  width: 10%;
  height: 4px;
}
header.open > .bar > .burger > span:nth-of-type(1) {
  transform: rotate(30deg) translate(0px, 14px);
}
header.open > .bar > .burger > span:nth-of-type(2) {
  opacity: 0%;
}
header.open > .bar > .burger > span:nth-of-type(3) {
  width: 30px;
  transform: rotate(-30deg) translate(0px, -14px);
}

.ds-not {
  display: none;
}

.snsicons {
  z-index: 101;
  position: fixed;
  bottom: 10%;
  left: 3%;
  display: inline-block;
  vertical-align: middle;
  float: left;
  width: 30px;
  height: 30px;
  margin: 5px 0;
}
.snsicons li:nth-of-type(1) {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin: 0;
  background-image: url(../img/icon_sns.svg);
  background-repeat: no-repeat;
  background-size: 200% auto;
  background-position: left top;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}
.snsicons li:nth-of-type(1):hover {
  background-position: right top;
  background-color: black;
  border-radius: 30px;
}
.snsicons li:nth-of-type(2) {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin: 0;
  background-image: url(../img/icon_sns.svg);
  background-repeat: no-repeat;
  background-size: 200% auto;
  background-position: left 50%;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}
.snsicons li:nth-of-type(2):hover {
  background-position: right 50%;
  background-color: black;
  border-radius: 30px;
}
.snsicons li:nth-of-type(3) {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin: 0;
  background-image: url(../img/icon_sns.svg);
  background-repeat: no-repeat;
  background-size: 200% auto;
  background-position: left bottom;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}
.snsicons li:nth-of-type(3):hover {
  background-position: right bottom;
  background-color: black;
  border-radius: 30px;
}

footer {
  width: 100%;
  height: 300px;
  background-color: rgb(196, 196, 196);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
}
footer > div {
  color: rgb(0, 0, 0);
  margin: 0px auto;
}
footer > div p {
  margin: 7% 0;
}
footer > div ul li {
  margin: 2% 0;
}
footer .line-1 {
  font-size: 1.6rem;
}
footer .line-1 p:hover > a {
  text-decoration: underline;
}
footer .line-2 p:nth-of-type(2) {
  font-weight: bold;
}
footer .line-3 ul {
  width: 100%;
  font-size: 1rem;
}
footer .line-3 ul li {
  display: flex;
}
footer .line-3 ul li > strong {
  margin-right: 5%;
  width: 20%;
}
footer .line-3 ul li:nth-of-type(1) > span > a:hover {
  text-decoration: underline;
}
footer .line-3 ul li:nth-of-type(2) > span > a:hover {
  text-decoration: underline;
}
footer .line-3 ul li:nth-of-type(3) > span {
  margin-left: 3%;
}/*# sourceMappingURL=sub3.css.map */