@charset "utf-8";
@import "_reset";

*{
    font-family: 'Pretendard-Regular';
}

html{
    font-size: 16px;
}

main{
    > .intro{
        height: 600px 0;
        padding: 5% 0 5% 15%;
        position: relative;
        white-space: pre-line;
        width: 100%;
        @include flex(space-evenly, start);
        flex-direction: column;
        h1{
            font-size: 4rem;
        }
        p{
            font-size: 1.2rem;
            z-index: 100;
            margin-top: 3%;
            line-height: 200%;
            font-weight: bold;
        }
        &:before {
            content: "SHOP";
            position: absolute;
            right: 0;
            bottom: -15%;
            font-size: 14.5833vw;
            font-weight: 700;
            color: #f8f8f8;
            line-height: 14.5833vw;
            letter-spacing: -1vw;
            z-index: 0;
        }
    }
> .content-1{
    padding: 5% 0;
    margin: 0% 0;
    width: 100%;
    height: 1400px;
    background-color: #f8f8f8;
    @include flex(start, start);
    flex-direction: column;
    > .content-1-inner{
        width: 100%;
        text-align: center;
        > select{
            font-size: 1rem;
            margin: 2%;
            padding: 1%;
            border: 1px solid rgba(128, 128, 128, 0.658);
            background-color: white;
            border-radius: 300px;
            border-radius: 3%
        }
    }
    > .content-1-grid{
        @include flex(space-evenly, center);
        width: 70%;
        margin: 0 auto;
        flex-wrap: wrap;
        > li{
            position: relative;
            width: 30%;
            margin: 5%;
            > div{
                position: relative;
                width: 300px;
                padding-bottom: 10%;
                > h2{
                    display: none;
                }
                > figure{
                    height: 200px;
                    background-size: cover;
                }
                > figcaption{
                    position: absolute;
                    font-size: 2rem;
                    height: 30px;
                    margin: 10% 0;
                    bottom: 0;
                }
            }
        }
    }
    > .shop-banner{
        width: 80%;
        margin: 5% auto;
        > img{
            width: 100%;
        }
    }
}
}


@import "_header";
@import "_footer";
@import "_icons";
@import "_popup";
@import "_mobile_common";
@import "_mobile_sub4";